.basketPage{
  margin-top: 70px;
  }

  .cart_content{
    position: absolute;
    right: 20px;
    top: 100%;
    width: 570px;
    cursor: default;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    scroll-behavior: smooth;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  }
  
  .cart_content_active {
    opacity: 1;
    visibility: visible ;
  }
  
  .cart_content__list{
    height: 330px;
    overflow-y: scroll;
  }
  
  .cart_content__item{
    display: flex;
    text-align: left;
    margin: 20px;
  }

  .card_product__img{
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    margin-right: 20px;
    }
    
    .card_product__text{
      display: inline-block;
    }
    
    .card_product__title{
    font-size: 12px;
    margin-bottom: 15px;
    max-width: 280px;
    }
    
    .card_product__content{
      display: flex;
    }
    
    .card_product__color{
    font-size: 12px;
    margin-right: 10px;
    }

    .color_card{
      margin-left: 5px;
    }
    
    .color_card input{
      width: 20px;
      height: 20px;
    }


    
    .card_product__quantity{
      font-size: 14px;
      margin-right: 20px;
      margin-left: 20px;
    }
    
    .quantity_decr{
      font-size: 20px;
      margin-right: 10px;
    }
    
    .quantity_incr{
      font-size: 20px;
      margin-right: 10px;
      margin-left: 10px;
    }
    
    .card_product__size{
    font-size: 12px;
    margin-right: 10px;
    }
    
    .card_product__price{
      font-size: 12px;
      margin-right: 10px;
    }
    
    .card_product__delete{
      margin-left: auto;
      width: 20px;
      height: 20px;
      border: none;
      background-color: transparent;
      padding: 0;
      background-image: url("../../assets/trash.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-top: 2px;
    }

    .cart_content__bottom{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
    }
    
    .cart_content__fullprice{
      font-size: 15px;
    }
    
    .fullpriceCurrency{
      margin-top: 5px;
      font-size: 18px;
      font-weight: 700;
    }
    
    .fullprice{
      margin-top: 5px;
      font-size: 18px;
      font-weight: 700;
    }
    
    .cart_content__btn{
    width: 246px;
    text-align: center;
    background-color: #A04955;
    padding: 10px;
    border-radius: 5px;
    }

    .active{
      cursor: pointer;
    }

    .hide{
      display: none;
    }

    @media screen and (max-width: 767px) {
      .card_product_img{
        margin: 20px auto;
        width: 90%;
      }
    }