.fortydiscount{
  min-height: 745px;
  background-color: #F1F1F1;
  padding: 80px 70px 0 75px;
}

.fortydiscountheader1{
  font-family: Oswald;
  font-weight: 500;
  font-size: 36px;
  line-height: 53.35px;
  color: #333333;
  text-align: center;
}

.fortydiscountheader2{
  font-family: Oswald;
  font-weight: 500;
  font-size: 64px;
  line-height: 94.85px;
  color: #333333;
  text-align: center;
  margin-bottom: 23px;
}

.fortydiscountcards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fortydiscountcard{
  background-color: #FFFFFF;
  width: 280px;
  height: 416px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
  margin-right: 10px;
}

.cart_img{
  width: 165px;
  height: 165px;
  margin:  20px 62px 5px 53px;
  justify-content: center;
}

.cart_img_item{
width: 100%;
}

.cart_name{
  font-family: Oswald;
  font-weight: 500;
  font-size: 24px;
  line-height: 35.57px;
  color: #333333;
  text-align: center;
  margin: 0 55px 5px 45px;
  min-width: 150px;
  height: 72px;
}

.cart_star, .cart_price{
  text-align: center;
  margin-bottom: 5px;
}
.cart_price{
  font-family: Oswald;
  font-weight: 200;
  font-size: 18px;
  line-height: 26.68px;
  color: #333333;
  margin-bottom: 10px;
}

.price{
  font-weight: 500;
}

.cart_button{
  width: 130px;
  max-height: 35px;
  margin: 0 82px 20px 68px;
  font-family: Oswald;
  font-weight: 400;
  font-size: 18px;
  line-height: 26.68px;
  color: #333333;
  text-align: center;
  position: relative;
  background-color: #A04955;
}



.cart_button_push{
  background-color: #A04955;
  padding: 4px 8px 4px 33px;
  color: #FFFFFF;
  background-image: url(../../assets/shopping_bag.png);
  background-repeat: no-repeat;
  background-position: 7px 0;
}

.cart_button_push:disabled{
  background-color: #787878;
  padding: 7px 13px 7px 33px;
}

.cart_stars{
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1252px) {
  .fortydiscountcards{
   justify-content: space-around;
  }
}

@media screen and (max-width: 767px) {
     .fortydiscount{
      padding: 40px;
     }
  
     .fortydiscountheader1{
      font-size: 25px;
      line-height: 35px;
     }
  
     .fortydiscountheader2{
      font-size: 40px;
      line-height: 60px;
     }
  
     .fortydiscountcard{
      width: 260px;
     }
  
     .cart_name{
      font-size: 20px;
     }
    }