.catalog_pagination{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pb{
  border: 1px solid gray;
background-color: #C4C4C4;
border-radius: 5px;
width: 30px;
height: 30px;
font-size: 20px;
margin-left: 5px;
margin-top: 10px;
}

.pagination_left{
  margin-left: 10px;
  margin-right: 5px;
  font-size: 30px;
  font-weight: 700;
}

.pagination_right{
  margin-left: 5px;
  font-size: 30px;
  font-weight: 700;
}

.active{
  cursor: pointer;
}

.pag_active{
  cursor: pointer;
  background-color: #A04955;
}