.navigation_search{
  width: 70%;
  height: 80px;
  margin-left: 80px;
  padding-top: 40px;
  }
  
.search_navigation{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 45px;
    border: none;
    border-bottom: 2px solid #C4C4C4;
    outline: none;
}
  
.search_navigation::placeholder{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    color: #C4C4C4;
    padding: 10px;
}

@media screen and (max-width: 1327px){
 .navigation_search{
   margin-left: 60px;
 }
}

@media screen and (max-width: 1252px) {
  .navigation_search{
    margin-left: 60px;
    height: 0;
  }
  
  .search_navigation{
    height: 60px;
    font-size: 50px;
  }
  
  .search_navigation::placeholder{
    font-size: 50px;
  }
  }

@media screen and (max-width: 1072px) {
  .navigation_search{
    margin-left: 43px;
  }
  
  .search_navigation{
    height: 50px;
    font-size: 38px;
  }
  
  .search_navigation::placeholder{
    font-size: 38px;
  }
}

@media screen and (max-width: 932px) {
   .navigation_search{
    margin-left: 25px;
    width: 50%;
  }
  
  .search_navigation{
    font-size: 25px;
  }
  
  .search_navigation::placeholder{
    font-size: 30px;
  }
  }

@media screen and (max-width: 767px) {
 .search_navigation::placeholder {
    font-size: 15px;
  }

  .navigation_search{
    padding-top: 20px;
    }
}