
.section_original_pants{
  background: url(../../assets/sport_original_pant.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}

.original_pants{
  padding: 22px 0px 0 152px;
  max-width: 500px;
}

.title_original_pants{
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 96px;
  padding-bottom: 20px;
}

.decription_original_pants{
  padding-bottom: 20px;
}

.button_original_pants{
  padding-bottom: 60px;
}

.button_original_pants_link{
  border: 1px solid black;
  text-align: center;
  padding: 15px 18px 15px 18px;
  max-width: 405px;
  min-height: 50px;
  background-color: #A04955;
  color: #FFFFFF;
}

@media screen and (max-width: 1252px) {
  .decription_original_pants{
   margin-bottom: 30px;
  }
 
  .original_pants{
   font-size: 20px;
   line-height: 25px;
  }
}

@media screen and (max-width: 1072px) {
  .title_original_pants{
   font-size: 60px;
   line-height: 96px;
  }
 
  .original_pants{
   font-size: 20px;
   line-height: 25px;
  }
}

@media screen and (max-width: 932px) {
  .title_original_pants{
   font-size: 50px;
   line-height: 96px;
  }
 
  .original_pants{
   font-size: 15px;
   line-height: 20px;
  }
}

@media screen and (max-width: 800px) {
.original_pants{
    padding: 0;
    margin: auto 40px;
  } 

}

@media screen and (max-width: 600px) {
  .title_original_pants{
   font-size: 40px;
  }
}

@media screen and (max-width: 490px) {
  .original_pants{
   font-size: 15px;
   line-height: 20px;
  }
  .title_original_pants{
    padding-top: 20px;
    font-size: 40px;
    line-height: 45px;
   }

   .button_original_pants_link{
    font-size: 10px;
    max-width: 205px;
  }

}
