.pad{
  padding-left: 60px;
  padding-right: 60px; 
}

.navigation{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.catalogPage{
  margin-top: 70px;
  }

  .section__card{
    margin: 30px 60px;
  }

  .section__main{
    margin-top:90px;
  }

  .button_down{
    position: fixed;
    right: 40px;
    background-color: #A04955;
    border-radius: 50%;
    width: 83px;
    height: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 85%;
  }

  .catalog{
    display: flex;
    background-color: #E5E5E5;
    padding-bottom: 20px;
    position: relative;
  }

  .section__card{
    margin: 30px 60px;
    }


@media screen and (max-width: 1252px) {
  .pad {
    padding-left: 30px;
    padding-right: 30px;
  }
}

  @media screen and (max-width: 1072px) {
   .section__card{
     margin: 15px 30px;
   }

   .filter_icon::before{
    content: "";
    background: url('../../assets/filter_icon_143777\(1\).png') 0 10px no-repeat;
    width: 60px;
    height: 60px;
    display: inline-block;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
   }

  @media screen and (max-width: 932px) {
    .search__main{
      width: 160px;
     }
  }

  @media screen and (max-width: 827px) {
    .section__main{
      margin-top: 45px;
    }
  }

  @media screen and (max-width: 767px) {
    .pad {
      padding-left: 20px;
      padding-right: 20px;
    }

    .catalog{
      display: block;
  
    }
  }