.footer{
  min-height: 420px;
  background-color: #A04955;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}

.footer_column{
  margin-bottom: 30px;
}

.footer_column a{
  font-family: 'Oswald';
  font-style: normal;
  line-height: 180.8%;
  color: #FFFFFF;
  padding-right: 20px;
  
}

.footer_column_title a{
  font-weight: 600;
  font-size: 24px;
}

.footer_column_item a{
  font-weight: 400;
  font-size: 18px;
}

.footer_column_item_promo{
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 60px;
}

.footer_column_item{
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}

.sign_up{
  margin-top: 20px;
  max-width: 515px;
  min-height: 61px;
  background-color: #F3F3F3;
}

.sign_up_email{
  background-color: #F3F3F3;
  width: 310px;
  height: 61px;
  padding: 10px 0 10px 25px;
}

::placeholder{
  color: #A04955;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180.8%;
}

.subscribe{
  background-color: #A04955;
  width: 167px;
  height: 43px;
  color: #F3F3F3;
}

.signature{
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 180.8%;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  background-color: #FFFFFF;
  margin: 10px 0 10px 60px;
}



@media screen and (max-width: 1252px) {
  .footer_column_title a{
    font-size: 20px;
  }
  
  .footer_column_item a{
    font-size: 15px;
  }
  
  .footer_column_item_promo{
    font-size: 15px;
    margin-bottom: 30px;
  }
  
  .footer_column_item{
    font-size: 15px;
  }
  
 .sign_up{
  margin-bottom: 30px;
 }

 .subscribe{
  width: 140px;
  height: 43px;
}

}

@media screen and (max-width: 1072px) {

 ::placeholder{
  font-size: 13px;
  line-height: 100%;
 }

 .sign_up{
  margin-top: 15px;
  max-width: 400px;
  min-height: 51px;
}

.sign_up_email{
  width: 210px;
  height: 51px;
}

 .subscribe{
  width: 140px;
  height: 43px;
}

}


@media screen and (max-width: 932px) {
 .footer-column{
  margin-bottom: 15px;
 }
 
 .footer-column-item-promo {
  margin-bottom: 15px;
}

.sign-up {
  margin-bottom: 15px;
}
}

@media screen and (max-width: 600px) {
  .footer{
    padding: 10px;
  }
  
  .footer_column{
    margin-bottom: 15px;
  }
  
  .footer_column a{
    
    line-height: 160.8%;
    color: #FFFFFF;
    padding-right: 10px;
    
  }
  
  .footer_column_title a{
    font-size: 15px;
  }
  
  .footer_column_item a{
    font-size: 12px;
  }
  
  .footer_column_item_promo{
    font-size: 12px;
    margin-bottom: 30px;
    margin-right: 10px;
  }
  
  .footer_column_item{
    font-size: 12px;
  }

  .sign_up{
    margin-top: 10px;
    max-width: 200px;
    min-height: 31px;
  }
  
  .sign_up_email{
    width: 80px;
    height: 31px;
  }
  
   .subscribe{
    width: 60px;
    height: 43px;
    margin-left: 30px;
    font-size: 10px;
  }

 }
