.fortydiscountcard{
  background-color: #FFFFFF;
  width: 280px;
  height: 416px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
  margin-right: 10px;
}

.cart_img{
  width: 165px;
  height: 165px;
  margin:  20px 62px 5px 53px;
  justify-content: center;
}

.cart_img_item{
  width: 100%;
  }

  .cart_name{
    font-family: Oswald;
    font-weight: 500;
    font-size: 24px;
    line-height: 35.57px;
    color: #333333;
    text-align: center;
    margin: 0 55px 5px 45px;
    min-width: 150px;
    height: 72px;
  }

  .cart_star, .cart_price{
    text-align: center;
    margin-bottom: 5px;
  }
  .cart_price{
    font-family: Oswald;
    font-weight: 200;
    font-size: 18px;
    line-height: 26.68px;
    color: #333333;
    margin-bottom: 10px;
  }

  .cart_color{
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-bottom: 10px;
  }

  .colors{
    width: 20px;
    height: 20px;
    display: inline-block;
  }

  .rating{
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: space-around;
    }
    
    .rating_body{
    position: relative;
    }
    
    .rating_body::before{
    content: "★★★★★";
    display: block;
    color: #BCBCCC;
    }
    .rating_active{
      position: absolute;
      width: 0%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: hidden;
    }
    
    .rating_active::before{
      content: "★★★★★";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: hidden;
      color: yellow;
    }
    
    .rating_items{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    }
    
    .rating_item{
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
    }

    .hl{
      background-color: yellow;
    }

    .cart_button{
      width: 130px;
      max-height: 35px;
      margin: 0 82px 20px 68px;
      font-family: Oswald;
      font-weight: 400;
      font-size: 18px;
      line-height: 26.68px;
      color: #333333;
      text-align: center;
      position: relative;
      background-color: #A04955;
    }

    .cart_button_push{
      background-color: #A04955;
      padding: 4px 8px 4px 33px;
      color: #FFFFFF;
      background-image: url(../../assets/shopping_bag.png);
      background-repeat: no-repeat;
      background-position: 7px 0;
    }
    
    .cart_button_push:disabled{
      background-color: #787878;
      padding: 7px 13px 7px 33px;
    }