*,*::before,*::after {
  margin: 0;
  padding: 0;
  border: 0;
  }
  li {
  list-style: none;
  }
  a,
  a:visited {
  text-decoration: none;
  color: #333333;
  }
  a:hover {
  text-decoration: none;
  }
  h1,h2,h3,h4,h5h6 {
  font-weight: inherit;
  font-size: inherit;
  }
  img {
  vertical-align: top;
  }
  
  
  body{
    min-width: 320px;
    font-family: Oswald;
    font-weight: 400;
    background: #FFFFFF;
    color: #333333;
    box-sizing: border-box;
  }

  .flex_container{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  @media screen and (max-width: 767px) {
    body.lock{
      overflow: hidden;
    }
  }

  /*
     
  .currency{
    font-weight: 500;
  }
  
  .cart_stars{
    display: flex;
    justify-content: center;
  }
  
  
  .catalog_menu{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 260px;
    padding: 5px 10px 10px 20px;
  }
  
  .catalog_menu input{
    display: none;
  }
  
  .catalog_menu label{
    height: 30px;
    background-color: #F1F1F1;
    padding: 2px 10px 2px 10px;
  }
  
  .checkbox:checked + label {
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(146, 9, 87, 0.389);
  }
  
  hr{
    background-color: #A04955;
    margin: 20px auto;
    width: 80%;
    height: 1px;
  }
  
  .catalog_cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    margin-right: 60px;
  }
  
  .catalog_cards_pants{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 60px;
  }
  
  .catalog_cards_shirts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 60px;
  }
  
  .catalog_cards_accessories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 60px;
  }
  
  .hl{
    background-color: yellow;
  }
  
  .hide{
    display: none;
  }
  
  .card_menu_size{
    display: flex;
    gap: 10px;
    max-width: 260px;
    padding: 5px 10px 10px 20px;
  }
  
  .card_menu_size input{
    display: none;
  }
  
  .card_menu_size label{
    height: 30px;
    background-color: #F1F1F1;
    padding: 2px 10px 2px 10px;
  }
  
  .checkbox:checked + label {
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(146, 9, 87, 0.389);
  }
  
  
  @media screen and (max-width: 1072px) {
  
  .icon_filter{
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    z-index: 3;
  }
  
  
  .filter_active{
    left: 0;
    transition: all 1.5s ease 0s;
    z-index: 5;
  }
 
  }
  

  @media screen and (max-width: 767px) {
  body.lock{
    overflow: hidden;
  }

    .link__basket{
    position: relative;
    }

  }*/